@import url('https://fonts.googleapis.com/css?family=Raleway:600,900');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400');

html {
  height: 100%;
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

body {
  position: relative;
	background: black;
	height: 100%;
	min-height: 350px;
	}

.background {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	overflow: hidden;
	}

.scene,
.layer {
  width: 100%;
  height: 100%;
  }

.background img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
	transform: scale(1.1);
	opacity: 0;
	transition: 1000ms
	}

.page-active .background img {
	opacity: 1;
	}

.logo-overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: soft-light;
  background: black;
	overflow: hidden;
	opacity: 0;
	transition: 1000ms;
	}

.page-active .logo-overlay {
	opacity: 1;
	}

.logo-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%) scale(0.56);
	mix-blend-mode: screen;
	transition: 500ms;
	}

.logo {
	position: relative;
	width: 100vw;
	height: 100vw;
	font-size: 17vw;
	letter-spacing: 0.08em;
	line-height: 15vw;
	font-weight: 900;
	transform: rotate(45deg);
	}

.logo .take,
.logo .shape,
.logo .take::before,
.logo .shape::before {
	position: absolute;
	animation-fill-mode: forwards;
	animation-delay: 600ms;
	animation-duration: 2.75s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4,0,0.3,1);
	}

.logo .take {
	width: 78vw;
	height: 78vw;
	border: 11vw solid #ffffff;
	color: #ffffff;
	}

.logo .shape {
	left: 50%;
	top: 50%;
	width: 65vw;
	height: 65vw;
	margin: -32.5vw 0 0 -32.5vw;
	background: #ffffff;
	color: #000000;
	transform: scale(1.25);
	}

.logo .take::before,
.logo .shape::before {
	left: -6vw;
	right: -6vw;
	top: 50%;
	margin-top: -8vw;
	transform: rotate(-45deg);
	opacity: 0;
	}

.logo .take::before {
	content: "TAKE";
	text-align: left;
	}

.logo .shape::before {
	content: "SHAPE";
	text-align: center;
	}

.page-active .logo .take {
	animation-name: take;
	animation-delay: 200ms;
	}

.page-active .logo .shape {
	animation-name: shape;
	animation-delay: 200ms;
	}

.page-active .logo .take::before,
.page-active .logo .shape::before {
	animation-name: text;
	animation-delay: 200ms;
	}

@keyframes take {
	0% {
		transform: translate(0px, 0px);
		}
	50% {
		transform: translate(0px, 0px);
		}
	100% {
		transform: translate(-9vw, 9vw);
		}
	}

@keyframes shape {
	0% {
		transform: scale(1.25) translate(0px, 0px);
		}
	50% {
		transform: scale(1) translate(0px, 0px);
		}
	100% {
		transform: scale(1) translate(27vw, -27vw);
		}
	}

@keyframes text {
	0% {
		opacity: 0;
		}
	50% {
		opacity: 0;
		}
	100% {
		opacity: 1;
		}
	}

.text-wrapper {
	position: absolute;
	z-index: 2;
	left: 4%;
	right: 4%;
	bottom: 4vw;
	opacity: 0;
	transition: 4s;
	}

.page-active .text-wrapper {
	transition-delay: 1800ms;
  opacity: 1;
  }

.text {
	display: inline-block;
	width: 100%;
	max-width: 850px;
	color: #ffffff;
	line-height: 1.6em;
	text-shadow: 0 3px 12px rgba(0,0,0,0.25);
	}

.text p:not(:last-child) {
	margin-bottom: 16px;
	}

.text a {
  display: inline-block;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	border: 1px solid;
	padding: 7px 10px;
	margin: 0 4px;
	border-radius: 4px;
	white-space: nowrap;
	}

.text a:first-child {
	margin-left: 0;
	}

.text a:hover {
	color: #7ae8aa;
	}

.text p.larger {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 3.5vmin;
  line-height: 1.25em;
  }

.text p.smaller {
	font-size: 12px;
	text-transform: uppercase;
	opacity: 0.85;
	line-height: 1.5em;
	margin-bottom: 0;
	}

@media screen and (max-width:515px) {
  .text p.larger {
    font-size: 18px;
    }
  }

@media screen and (max-height:515px) {
  .text p.larger {
    font-size: 18px;
    }
	}

.contact-form {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	color: #fff;
}

.contact-form .centered-content {
	width: 100%;
	max-width: 480px;
	margin: 5%;
}

.contact-form .image {
    display: block;
	width: 80px;
	height: 67px;
	margin: 0 auto 40px;
}

.contact-form img {
	width: 100%;
	height: 100%;
	margin: 0;
}

.contact-form p {
	font-family: 'Source Serif Pro', serif;
	font-size: 24px;
	line-height: 1.3em;
}

.contact-form .label {
	display: inline-block;
	font-size: 13px;
	margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
	background: none;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	padding: 12px;
	font-size: 18px;
	margin-bottom: 20px;
	transition: 100ms;
}

.contact-form input:focus,
.contact-form textarea:focus {
	outline: none;
	border-color: #ffff00;
}

.contact-form .send {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-form button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	width: 80px;
	height: 50px;
	background: none;
	outline: none;
	padding: 0;
}

.contact-form button::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 4px;
	background: #ffff00;
	transition: 300ms;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	pointer-events: none;
}

.contact-form button:hover::before,
.contact-form button:focus::before {
	border-radius: 50%;
	top: -15px;
	bottom: -15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border-color: #00ffff;
	-webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}